# A chit fund has 25 members. Each month they contribute Rs 2000 each. End of the month, the person who bids the lowest for the corpus, gets his bid. The group organizer gets paid a fixed commission of Rs 2500 each month (5% of 25*2000).It is deducted from the bid winner's corpus.  The remaining amount is distributed among all the 25 customers equally.Enclosed excel has the table with cashflows for each month.
# Task : 
# •  What is the Annualized  Return of the person who bids in the last month ? 
# •  What is the Annualized Return of the person who bids in the first month ?
# •  Write an R/Python script which calculates the annualized return of chit fund participant ?-Show the Return % for each month's bid winner.
# Document your assumptions.Note: Please google about how chitfund works, incase if you are not familiar with the mechanism!

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel(r"C:\Users\Exercise Data.xlsx")
df

,Month,Contribution,Amount won by the bidder,Chit fund organizer commission,Net amount recd by Bid winner,Amount returned to everyone in the group
0,1,2000,40000,2500,37500,400
1,2,2000,42000,2500,39500,320
2,3,2000,45000,2500,42500,200
3,4,2000,48000,2500,45500,80
4,5,2000,40000,2500,37500,400
5,6,2000,42000,2500,39500,320
6,7,2000,43000,2500,40500,280
7,8,2000,44000,2500,41500,240
8,9,2000,40000,2500,37500,400
9,10,2000,42000,2500,39500,320
10,11,2000,45000,2500,42500,200
11,12,2000,48000,2500,45500,80
12,13,2000,40000,2500,37500,400
13,14,2000,42000,2500,39500,320
14,15,2000,43000,2500,40500,280
15,16,2000,43000,2500,40500,280
16,17,2000,41000,2500,38500,360
17,18,2000,42000,2500,39500,320
18,19,2000,45000,2500,42500,200
19,20,2000,45000,2500,42500,200
20,21,2000,44000,2500,41500,240
21,22,2000,46000,2500,43500,160
22,23,2000,47000,2500,44500,120
23,24,2000,48000,2500,45500,80
24,25,2000,50000,2500,47500,0

# What is the Annualized  Return of the person who bids in the last month ?

In [17]:
AREIG = np.array(df["Amount returned to everyone in the group"])
dist_fund = 0
for i in AREIG:
    dist_fund = dist_fund + i
dist_fund

6200

In [19]:
answer1 = dist_fund + np.array(df["Net amount recd by Bid winner"])[-1]
answer1

53700

In [20]:
net_amount_to_last_bidder = answer1 - (25*2000)
net_amount_to_last_bidder

3700

# What is the Annualized Return of the person who bids in the last month ?

In [21]:
answer2 = dist_fund + np.array(df["Net amount recd by Bid winner"])[0]
answer2

43700

In [23]:
net_amount_to_first_bidder = answer2 - (25*2000)
net_amount_to_first_bidder

-6300

# Annualized return of chit fund participant - The Return % for each month's bid winner

In [36]:
return_= []

for i in range(25):
    new  = (dist_fund + np.array(df["Net amount recd by Bid winner"])[i] *100)/50000
    return_.append(new)
df["return"] = return_

In [37]:
df['return']

0     75.124
1     79.124
2     85.124
3     91.124
4     75.124
5     79.124
6     81.124
7     83.124
8     75.124
9     79.124
10    85.124
11    91.124
12    75.124
13    79.124
14    81.124
15    81.124
16    77.124
17    79.124
18    85.124
19    85.124
20    83.124
21    87.124
22    89.124
23    91.124
24    95.124
Name: return, dtype: float64